body {
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  .navbar {
    font-size: 18px;
    background-image: linear-gradient(260deg, #161a24 0%, #062952 100%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
  }
  
  .main-nav {
    list-style-type: none;
    display: none;
  }
  
  .nav-links,
  .logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .main-nav li {
    text-align: center;
    margin: 15px auto;
  }
  
  .logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
  }
  
  .active {
    display: block;
  }
  
  @media screen and (min-width: 768px) {
    .navbar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 70px;
      align-items: center;
    }
  
    .main-nav {
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
    }
  
    .main-nav li {
      margin: 0;
    }
  
    .nav-links {
      margin-left: 40px;
    }
  
    .logo {
      margin-top: 0;
    }
  
    .navbar-toggle {
      display: none;
    }
  
    .logo:hover,
    .nav-links:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
  body {
    background: #F2F3F5;
}

h3,
h4,
p {
margin: 0;
}

/*Grid Structure*/
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1rem;
    padding: 1rem;
    margin: 0 2rem 0 2rem;
}

.grid-item {
    background: white;
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-align: center;
}

/*Main Section*/
.profile {
    grid-column: 1 / span 2;
    grid-row: 1;
}

.dp {
    max-height: 21rem;
    max-width: 21rem;
    border-radius: 1rem;
    margin: 0.125rem;
}

.summary {
    grid-column: 3 / span 3;
    grid-row: 1;
    padding: 1rem;
}

.summary-text {
    margin: 1rem;
    font-size: 1.25rem;
}

/*Footer*/
.aboutus-footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(260deg, #161a24 0%, #062952 100%) !important;
    color: white;
    padding: 0.5rem;
    height: 15vh !important;
}

.footer-container {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.social-links-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    list-style-type: none;
}

.flex-column {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.clear-div {
    height: 20vh;
    width: 100%;
}

/*Media Queries*/

/*Small devices (landscape phones, 576px and up)*/
@media screen and (max-width: 767.98px) {
    .grid-container {
        grid-template-columns: auto;
    }

    .profile {
        grid-column: 1 / span 1;
        grid-row: 1 !important;
    }

    .summary {
        grid-column: 1 / span 1;
        grid-row: 2 !important;
    }

    .dp {
        max-height: 21rem;
        width: 100% ;
        border-radius: 1rem;
        margin: 0.125rem;
    }
}
a {
    cursor: pointer;
}

.blog-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
    margin: 5vh 12vw;
}

.blog-post {
    min-height: 50vh;
    text-align: center;
    background: white;
}

.blog-cover-img {
    width: 100%;
}

.blog-content {
    padding: 1rem;
    text-align: justify;
}

.blog-content-description {
    margin: 2vh 0 0 0;
}

@media screen and (max-width: 668px) {
    .blog-grid-container {
        grid-template-columns: auto auto;
        margin: 5vh 15vw;
    }

    .blog-post {
            grid-column: 1 / span 2;
    }
}
.footer {
    height: 10vh;
    background: black;
    color: white;
    margin: 5vh 0 0 0;
}

.footer-content {
    text-align: center;
    padding: 3vh 0 0 0;
}
.custom-container {
    margin: 5vh 15vw !important;
    text-align: center;
}

.blog-page-cover {
    max-width: 70vw;
}

.blog-content {
    text-align: justify;
}

/*Button*/
.custom-button {
  background: grey;
  border-color: yellow;
  color: #fff;
  background:{
    range : linear-gradient(45deg,yellow 50%, transparent 50%);
    position: 100%;
    size: 400%;
  }
  transition: background 300ms ease-in-out;
  
  &:hover {
    background-position: 0;
  }
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.cover {
    width: 100%;
    max-height: 75vh;
}

.destinations-container {
    margin: 5vh 20vw 0 20vw;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    text-align: center;
}

.destinations {
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
}

.caption {
    text-align: center;
    margin: 2vh 4vw 2vh 4vw;
    font-size: 1.25rem;
    display: flex;
    flex-flow: column;
    font-style: italic;
}
@media screen and (min-width: 200px) and (max-width: 499px) {
    .destinations-container {
        justify-content: center;
        flex-wrap: wrap;
    }
 }
@media screen and (min-width: 500px) and (max-width: 767.98px) {
    .destinations-container {
        margin: 5vh 10vw 0 10vw;
    }
 }